@charset "UTF-8";
/* CSS Document */

a:link{color:rgba(75,4,79,1.00);
	text-decoration:none;}
	a:hover{color:rgba(75,4,79,1.00);
	text-decoration:none;}
	a:active{color:rgba(75,4,79,1.00);
	text-decoration:none;}
	a:visited{color:rgba(75,4,79,1.00);
	text-decoration:none;}

h1{font-family: "active", sans-serif;
font-size: 3em; }
h2{font-family: "active", sans-serif;
font-size: 2.5em; }
h3{font-family: "active", sans-serif;
font-size: 2em; }
h4{font-family: "active", sans-serif;
font-size: 1.5em; }
h5{font-family: "rift", sans-serif;
font-size: 1.5em;}
p{font-family: "rift", sans-serif;
font-family: 1em;}

.bcolor{ border-color: rgba(75,4,79,1.00);
	border-width: 3px;
color: rgba(75,4,79,1.00);
}

.dropdown:hover>.dropdown-menu {
  display: block;
	decoration: none;

}

.social{
	text-align: right;

	height:35px;
	
		
}
.nav{
	
	height:35px;
	font-family: "active", sans-serif;
}

.albums{text-align: center;
background: rgba(75,4,79,1.00);
color: rgba(246,246,246,1.00);}

.button{;
	outline: rgba(255,255,255,1.00);}


.border-purple{ border-color:rgba(75,4,79,1.00);}
.upcoming{color: rgba(75,4,79,1.00);}


.footer{height:200px;
	background: rgba(75,4,79,1.00);
	color:rgba(255,255,255,1.00);
}

.jumbo{
	background: url(../images/concert.jpg) no-repeat scroll center center /cover ;
	color: rgba(240,240,240,1.00);
}

.jumbovid{
	background: url(../images/alien.png) no-repeat scroll center center /cover ;
	color: rgba(239,235,235,1.00);
}


.btn-warped{
	color: rgba(113,110,110,1.00);
	background: rgba(255,255,255,1.00);
}

.rainbowbanner{text-align: center;
	
}

.breadcrumb{font-family: "rift", sans-serif;
background: rgba(255,255,255,1.00);}

.article{text-align: left;}


